$primary-font: "GT Eesti Pro Text";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

main{
    position: relative;
    z-index: 1;
}

.animated-background{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    & > video{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.background-image{
    background-image: url(background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 95px 0 85px;

    @media screen and (min-width: 768px) {
        padding: 110px 0 180px;
    }
}

.container{
    width: 100%;
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;

    &--small{
        max-width: 1000px;
    }
}

.image-wrapper{
    display: flex;

    & > img{
        display: block;
        width: 100%;
        height: auto;
    }
}

.contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    width: 100%;

    padding: 15px 40px;
    border-radius: 8px;
    background: #2459FF;

    color: #FFF;
    text-align: center;
    font-family: $primary-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;

    &--margin-top{
        margin: 55px 0 0;
    }

    &--width{

        &--small{
            max-width: 230px;
        }
        
        &--medium{
            max-width: 415px;
        }

        &--big{
            max-width: 650px;
        }

        &--350{
            width: 350px;
        }
    }

    &--desktop{
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    &--mobile{

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

.header{
    padding: 35px 0;

    &__content-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__buttons-wrapper{
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    &__language-switchers{
        display: flex;
        column-gap: 7px;
    }

    &__language-switcher{
        display: flex;
        padding: 6px 7px;
        justify-content: center;
        align-items: center;

        border-radius: 8px;
        background-color: #FFF;

        color: #000;
        text-align: center;
        font-family: $primary-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        cursor: pointer;

        &--current{
            background-color: transparent;

            color: #FFF;
            font-weight: 350;
        }
    }
}

.hero-section{
    height: 100%;

    & > .container,
    &__content-wrapper{
        height: 100%;
    }

    &__content-wrapper{
        display: flex;
        align-items: center;
    }

    &__content{
        transform: translateY(-40%);
    }
    
    &__title{
        color: rgba(255, 255, 255, 0.95);
        font-family: $primary-font;
        font-size: 58px;
        font-style: normal;
        font-weight: 700;
        line-height: 93%;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
            font-size: 108px;
        }
    }

    &__background{
        position: relative;

        &::after{
            content:'';
            background-color: #2459FF;
            height: 53%;

            position: absolute;
            bottom: 8px;
            left: -5px;
            right: -35px;
            border-radius: 8px;
            z-index: -1;

            @media screen and (min-width:768px) {
                height: 56%;
                bottom: 15px;
                right: -10px;
            }
        }   
    }

    &__button{
        display: block;
        position: absolute;
        right: 15px;
        bottom: 30%;
        cursor: pointer;

        @media screen and (min-width:768px) {
            right: 100px;

            & path{
                transition: all 0.4s;
            }
    
            &:hover path{
                fill:#2459FF;
            }
        }
    }
}

.text-with-image{
    position: relative;
    background-color: #000;
    padding: 60px 0 55px;
    
    @media screen and (min-width:768px) {
        padding: 15% 0 16%;
    }

    &__subtitle{
        color: #888;
        font-family: $primary-font;
        font-size: 12px;
        font-style: normal;
        font-weight: 350;
        line-height: 160%;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        
        @media screen and (min-width:768px) {
            font-size: 12px;
            letter-spacing: 2.1px;
        }
    }

    &__title{
        margin: 5px 0 0;
        color: #FFF;
        font-family: $primary-font;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;

        @media screen and (min-width:768px) {
            font-size: 54px;
        }
    }

    &__text{
        margin: 25px 0 0;
        color: #FFF;
        font-family: $primary-font;
        font-size: 17px;
        font-style: normal;
        font-weight: 350;
        line-height: 28px; /* 164.706% */

        @media screen and (min-width:768px) {
            font-size: 18px;
        }
    }

    &__content-wrapper{
        max-width: 530px;

        @media screen and (min-width:768px) and (max-width:1400px) {
            max-width: 47%;
        }

        @media screen and (min-width:1400px) {
            max-width: 43%;
        }
    }

    &__image{
        margin: 30px 0 0;
        padding: 0 0 0 15px;
        width: 100%;
        
        @media screen and (min-width:768px) {
            margin: 0;
            padding: 0;

            position: absolute;
            width: 50%;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        & > img{
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__mobile-button-wrapper{
        display: flex;
        justify-content: center;
    }
}

.animated-text{
    background-color: #fff;
    padding: 55px 0;
    overflow: hidden;

    @media screen and (min-width:768px) {
        padding: 90px 0;
    }

    &__span{
        display: block;
        font-family: $primary-font;
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        line-height: 93%;
        text-transform: uppercase;
        text-wrap: nowrap;
        transition: transform 0s ease;

        @media screen and (min-width:768px) {
            font-size: 144px;
        }

        &--color1{
            color: rgba(36, 89, 255, 0.25);
        }

        &--color2{
            color: #2459FF;
            margin-top: -45px;
            translate: -290%;

            @media screen and (min-width:768px) {
                translate: 0;
                margin-top: -60px;
            }
        }
    }
}

.services{
    padding: 40px 0 65px;
    background: linear-gradient(180deg, #000 60%, #010126 113.97%);

    @media screen and (min-width:768px) {
        padding: 90px 0;
    }

    &__top{
        display: flex;
        column-gap: 5px;
        align-items: center;
    }

    &__title-wrapper{
        max-width: 50%;
        width: 100%;

        & > h4{
            color: #888;
            font-family: $primary-font;
            font-size: 12px;
            font-style: normal;
            font-weight: 350;
            line-height: 160%;
            letter-spacing: 1.8px;
            text-transform: uppercase;

            @media screen and (min-width:768px) {
                font-size: 14px;
                letter-spacing: 2.1px;
            }
        }

        & > h2{
            margin: 5px 0 0;
            color: #FFF;
            font-family: $primary-font;
            font-size: 42px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;

            @media screen and (min-width:768px) {
                font-size: 54px;
                line-height: 135%;
            }
        }
    }

    &__line-wrapper{
        max-width: 50%;
        width: 100%;
    }

    &__line{
        height: 3px;
        width: 100%;
        background-color: #fff;
        margin-top: -50px;
        position: relative;

        @media screen and (min-width:422px) and (max-width:752px) {
            margin-top: -25px;
        }

        @media screen and (min-width:752px) and (max-width:768px) {
            margin-top: 0;
        }

        @media screen and (min-width:768px) and (max-width:958px) {
            margin-top: -35px;
        }

        @media screen and (min-width:958px){
            margin-top: 0;
        }

        &::after{
            content: '';
            display: block;
            width: 9px;
            height: 9px;
            background-color: #fff;
            transform: rotate(45deg) translateY(-6.5px);

            position: absolute;
            right: 0;
            top: 50%;
        }
    }

    &__cards{
        margin: 60px 0 0;
        display: flex;
        flex-direction: column;
        row-gap: 60px;

        @media screen and (min-width:768px) {
            row-gap: 25px;
        }
    }

    &__cards-top,
    &__cards-bottom{
        display: flex;
        flex-direction: column;
        row-gap: 60px;

        @media screen and (min-width:768px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__card-wrapper{
        @media screen and (min-width:768px) {
            width: 100%;

            &--big{
                max-width: 50%;
            }

            &--small{
                max-width: 40%;
            }

            &--margin-top{
                margin: 200px 0 0;
            }
        }
    }

    &__card{
        position: relative;

        & > .image-wrapper{
            filter: blur(2px);

            @media screen and (min-width:992px) {
                filter: blur(0);
                transition: all 0.2s;
            }
        }

        @media screen and (min-width:992px) {
            &:hover > .image-wrapper{
                filter: blur(5px);
                margin: -10px;
            }

            & > .services__card-content-wrapper{
                transition: all 0.2s;
                opacity: 0;
                margin: -10px -20px;
            }

            &:hover > .services__card-content-wrapper{
                opacity: 1;
            }
        }
    }

    &__card-content-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
        margin: -3px;

        display: flex;
        align-items: center;
    }

    &__card-content{
        margin: 0 auto;
        max-width: 80%;
        width: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 15px;

        @media screen and (min-width:768px) {
            row-gap: 22px;
        }

        & > h5{
            color: #FFF;
            text-align: center;
            font-family: $primary-font;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;

            @media screen and (min-width:768px) {
                font-size: 28px;
            }
        }

        & > p{
            color: rgba(255, 255, 255, 0.70);
            text-align: center;
            font-family: $primary-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 350;
            line-height: 28px; /* 175% */

            @media screen and (min-width:768px) {
                font-size: 22px;
            }
        }
    }

    &__icon-wrapper{
        width: 82px;
        height: 82px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        &--red{
            background-color: rgba(240, 64, 55, 0.30);
        }

        &--purple{
            background-color: rgba(84, 84, 212, 0.30);;
        }

        &--yellow{
            background-color: rgba(254, 220, 90, 0.30);;
        }
    }

    &__button{
        margin: 60px 0 0;
        display: flex;
        justify-content: center;

        @media screen and (min-width:768px) {
            margin: 150px 0 0;
        }
    }
}

.text-section{

    &__title-wrapper{
        position: relative;
    }

    &__title{
        color: #FFF;
        text-align: right;
        font-family: $primary-font;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px; /* 152.381% */
        text-transform: uppercase;
        max-width: 75%;
        margin-left: auto;

        @media screen and (min-width:768px) {
            font-size: 54px;
        }

        span{
            background-color: #2459FF;
            padding: 0 5px;
            border-radius: 7px;
        }

        &::after{
            content: '';
            display: block;
            width: 55%;
            height: 3px;
            background-color: #fff;

            position: absolute;
            top: 28px;
            left: 0;

            @media screen and (min-width:455px) {
                width: 25%;
            }
        }

        &::before{
            content: '';
            display: block;
            width: 9px;
            height: 9px;
            background-color: #fff;

            position: absolute;
            top: 25px;
            left: 0;
            rotate: 45deg;
        }
    }

    &__blocks-wrapper{
        margin: 45px 0 0;
        display: flex;
        flex-direction: column;
        row-gap: 65px;
        
        @media screen and (min-width:768px) {
            row-gap: 30px;
        }
    }

    &__block{
        display: flex;
        column-gap: 8px;
        
        @media screen and (min-width:768px) {
            column-gap: 20px;
            max-width: 50%;
        }

        &--left{
            margin-right: auto;
        }

        &--right{
            margin-left: auto;
        }
    }

    &__icon{
        width: 24px;
        flex-shrink: 0;
        
        @media screen and (min-width:768px) {
            padding: 5px 0 0;
            width: 44px;
        }

        & > img{
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__text{

        & > h3{
            color: #FFF;
            font-family: $primary-font;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            text-transform: uppercase;

            @media screen and (min-width: 768px) {
                font-size: 38px;
                line-height: 56px;
            }
        }

        & > p{
            margin: 10px 0 0;
            color: #FFF;
            font-family: $primary-font;
            font-size: 14px;
            font-style: normal;
            font-weight: 350;
            line-height: 28px;
            opacity: 0.6;

            @media screen and (min-width: 768px) {
                margin: 15px 0 0;
                font-size: 18px;
            }
        }
    }
}

.newsletter{
    padding: 100px 0 0;
    position: relative;
    
    @media screen and (min-width:1200px) {
        padding: 165px 0 0;
    }

    &__image{
        margin-left: auto;
        max-width: 80vw;
        height: 350px;

        @media screen and (min-width:1200px) {
            height: auto;
            max-width: 95vw;
        }

        & > img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top right;
        }
    }

    &__content{
        margin-right: auto;
        margin-top: -290px;
        max-width: 75vw;
        position: relative;
        z-index: 2;

        background-color:#fff;
        padding: 50px 20px 150px 30px;

        @media screen and (min-width:1200px) {
            padding: 160px 135px 150px;
            display: flex;
            align-items: center;
            margin-top: -415px;
            column-gap: 115px;
            max-width: 85vw;
        }
    }

    &__title{
        color: #000;
        font-family: $primary-font;
        font-size: 37px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%; /* 49.95px */
        text-transform: uppercase;

        @media screen and (min-width:1200px) {
            font-size: 56px;
        }

        @media screen and (min-width:1600px) {
            max-width: 60%;
        }

        & > span{
            background: linear-gradient(187deg, #2459FF 30.04%, #ADC9FF 90.31%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__button-wrapper{

        &--desktop{
            display: none;

            @media screen and (min-width:1200px) {
                display: block;
                flex-shrink: 0;
                margin-right: -260px;
            }
        }

        &--mobile{
            position: absolute;
            left: 50%;
            bottom: 60px;
            z-index: 3;
            transform: translateX(-50%);
            width: 230px;

            @media screen and (min-width:1200px) {
                display: none;
            }
        }
    }
}

.footer{
    background-color: #000;
    padding: 80px 0 30px;

    @media screen and (min-width:768px) {
        padding: 160px 0 40px;
    }

    &__logo{
        margin: 0 auto;
        max-width: 150px;

        @media screen and (min-width:768px) {
            margin: 0;
        }

        & > img{
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__menus-wrapper{
        @media screen and (min-width:768px) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &__menu-left{

        & > p{
            margin: 50px auto 0;
            color: #A6A6A6;
            text-align: center;
            font-family: $primary-font;
            font-size: 14px;
            font-style: normal;
            font-weight: 350;
            line-height: 28px; /* 200% */
            max-width: 80%;

            @media screen and (min-width:768px) {
                font-size: 18px;
                margin: 30px 0 0;
                text-align: left;
            }
        }

        & > ul{
            list-style: none;
            margin: 50px 0 0;
            padding: 0;
        }

        & li{

            & > a{
                padding: 6px 0;
                display: block;
                color: #FFF;
                text-align: center;
                font-family: $primary-font;
                font-size: 14px;
                font-style: normal;
                font-weight: 350;
                line-height: normal;
                text-decoration: none;

                @media screen and (min-width:768px) {
                    width: fit-content;
                    font-size: 18px;
                    text-align: left;
                }
            }

            &:first-child{
                margin: 0;
            }
        }
    }

    &__contacts{
        margin: 50px auto 0;
        width: fit-content;
        list-style: none;

        display: flex;
        flex-direction: column;
        row-gap: 6px;

        @media screen and (min-width:768px) {
            margin: 0;
            row-gap: 12px;
        }

        & li a{
            display: flex;
            align-items: center;
            column-gap:10px;

            color: #FFF;
            font-family: $primary-font;
            font-size: 14px;
            font-style: normal;
            font-weight: 350;
            line-height: normal;
            text-decoration: none;

            @media screen and (min-width:768px) {
                font-size: 18px;
            }
        }
    }

    &__social-icons{
        margin: 50px auto 0;
        max-width: 220px;
        display: flex;
        justify-content: space-between;
        list-style: none;

        @media screen and (min-width:768px) {
            margin: 40px 0 0;
        }

        & li a{
            display: block;
            padding: 5px;
        }
    }

    &__rights{
        margin: 100px 0 0;
        color: #FFF;
        text-align: center;
        font-family: $primary-font;
        font-size: 10px;
        font-style: normal;
        font-weight: 350;
        line-height: normal;
        letter-spacing: -0.205px;
        opacity: 0.5;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
    }
}